/*Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/*Cinzel*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative:wght@700&family=EB+Garamond:ital@1&family=Great+Vibes&family=Parisienne&family=Playfair+Display+SC:ital@1&family=Tangerine:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: hsl(10, 86%, 89%);
    --background: hsl(10, 24%, 10%);

    --primary: hsl(10, 78%, 54%);
    --primaryHover: hsl(11, 82%, 59%);

    --uiNormal: hsl(5, 48%, 15%);
    --uiHover: hsl(4, 64%, 19%);
    --uiFocus: hsl(5, 62%, 23%);

    --border: hsl(7, 55%, 28%);
    --white: #fff8f7;
    --black: rgb(0, 0, 0);

    --clr-primary-900: hsl(200, 23%, 8%);
    --clr-primary-800: hsl(206, 23%, 12%);
    --clr-primary-700: hsl(206, 23%, 18%);
    --clr-primary-600: hsl(206, 23%, 26%);
    --clr-primary-500: hsl(206, 23%, 32%);
    --clr-primary-400: hsl(206, 23%, 45%);
    --clr-primary-300: hsl(206, 23%, 65%);
    --clr-primary-200: hsl(206, 23%, 85%);
    --clr-primary-100: hsl(206, 23%, 92%);

    --clr-accent-600: hsl(183, 40%, 20%);
    --clr-accent-500: hsl(183, 40%, 32%);
    --clr-accent-400: hsl(183, 40%, 45%);
    --clr-accent-300: hsl(183, 40%, 58%);
    --clr-accent-200: hsl(183, 40%, 80%);
  }
  .light {
    --text: 0 0% 100%;
    --background: 186 100% 8%;
    --primary: 215 98% 76%;
    --secondary: 244 94% 6%;
    --accent: 35 99% 55%;
  }

  body {
    background: rgb(46, 31, 28);
    background: radial-gradient(
      circle,
      rgba(46, 31, 28, 1) 0%,
      rgba(24, 17, 17, 1) 75%
    );
  }

  p {
    line-height: 150%;
    font-family: "Poppins";
  }
}

/**Reset universel*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;

  /* outline: 2px solid red;  */
}

html,
body {
  width: 100%;
  height: 100%;

  overflow-y: scroll;
  /*Empêche la ScrollBar de pousser le contenu légérement à gauche lors de son apparition */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  word-break: break-word;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--background);
  background-color: var(--background);
  word-break: break-word;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
  transition: all 2s ease;
}
